@page
@model VaccinationWebSite.Pages.adminModel
@{
    ViewData["Title"] = "Admin";
}
<table class="table">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th></th>
    </tr>
    @foreach (var obj in Model.Persons)
    {
        <tr>
            <td>@(obj.Name + " " + obj.LastName)</td>
            <td>@obj.Email</td>
            <td>
                <a class="btn btn-primary" asp-page="notify" asp-route-id="@obj.ID">Notify</a>
            </td>
        </tr>
    }
</table>