@page
@model VaccinationWebSite.Pages.CheckModel
@{
}
<div class="card m-5">
    <div class="row">
        <div class="col-5">
            <img src="~/images/medicalAdvice.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-5 mx-auto my-auto">
            <div class="align-middle">
                <div class="card-body text-center">
                    <h5 class="card-title">Medical Advance</h5>
                    <p class="card-text">We are in constant contact with research centers as well as the latest news and methods to improve medical care.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-5 mx-auto my-auto">
            <div class="align-middle">
                <div class="card-body text-center">
                    <h5 class="card-title">Online Service</h5>
                    <p class="card-text">In response to the coronavirus situation, various services were implemented, including online consultations. Doctors who are here to help you anywhere.</p>
                    <a asp-page="#" class="btn btn-outline-success border-info text-black mb-2 py-3 px-4 ">Chat</a>
                </div>
            </div>
        </div>
        <div class="col-5">
            <img src="~/images/medical online.jpg" class="img-fluid rounded-start" alt="...">
        </div>
    </div>

    <div class="row">
        <div class="col-5">
            <img src="~/images/medicalAdvice2.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-5 mx-auto my-auto">
            <div class="align-middle">
                <div class="card-body text-center">
                    <h5 class="card-title">Best Medical Consultations</h5>
                    <p class="card-text">As part of the experience and training of our doctors, we have plans and training to provide better consultations. A good consultation can save lives and prevent misfortunes.</p>
                    <a asp-page="#" class="btn btn-outline-primary border-info text-black mb-2 py-3 px-4 ">Schedule Consultation</a>
                </div>
            </div>
        </div>
    </div>
</div>