@page
@model VaccinationWebSite.Pages.HearthModel
@{
}
<div class="card m-5">
    <div class="row">
        <div class="col-5">
            <img src="~/images/payplans.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-5 mx-auto my-auto">
            <div class="align-middle">
                <div class="card-body text-center">
                    <h5 class="card-title">Payment plan</h5>
                    <p class="card-text">We have a wide variety of payment plans. In order to provide care to the greatest number of people, we offer a payment plan with a term according to the patient's resources. For more information, contact the patient's help.</p>
                    <a asp-page="#" class="btn btn-outline-info border-info text-black mb-2 py-3 px-4 ">Contac</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-5 mx-auto my-auto">
            <div class="align-middle">
                <div class="card-body text-center">
                    <h5 class="card-title">Donations</h5>
                    <p class="card-text">As part of helping the patient, there is a bank account to which they can make donations. It can be done anonymously or be on the hero list displayed at the hospital entrance.</p>
                    <a asp-page="#" class="btn btn-outline-success border-info text-black mb-2 py-3 px-4 ">Donate</a>
                </div>
            </div>
        </div>
        <div class="col-5">
            <img src="~/images/donations.jpg" class="img-fluid rounded-start" alt="...">
        </div>
    </div>

    <div class="row">
        <div class="col-5">
            <img src="~/images/fundations.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-5 mx-auto my-auto">
            <div class="align-middle">
                <div class="card-body text-center">
                    <h5 class="card-title">Fundations</h5>
                    <p class="card-text">It's not just people who care about our patients. We make collections and establish contact with various functions. Donations and contributions are available only to those patients with limited resources.</p>
                    <a asp-page="#" class="btn btn-outline-info border-info text-black mb-2 py-3 px-4 ">See Fundations</a>
                </div>
            </div>
        </div>
    </div>
</div>