@page
@model VaccinationWebSite.Pages.LabModel
@{
}
<div class="card m-5">
    <div class="row">
        <div class="col-5">
            <img src="~/images/lab.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-5 mx-auto my-auto">
            <div class="align-middle">
                <div class="card-body text-center">
                    <h5 class="card-title">Investigation</h5>
                    <p class="card-text">We have one of the most complete laboratories. We are in constant research, to always be at the forefront of problems. We are constantly looking for the best researchers to join our team.</p>
                    <a asp-page="#" class="btn btn-outline-info border-info text-black mb-2 py-3 px-4 ">See Lab</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-5 mx-auto my-auto">
            <div class="align-middle">
                <div class="card-body text-center">
                    <h5 class="card-title">Available to everyone</h5>
                    <p class="card-text">To give a faster solution it is better to have everything close. For any exam we are for you. With our work team we can have results the same day.</p>
                    <a asp-page="#" class="btn btn-outline-info border-info text-black mb-2 py-3 px-4 ">See Exams</a>
                </div>
            </div>
        </div>
        <div class="col-5">
            <img src="~/images/lab2.jpg" class="img-fluid rounded-start" alt="...">
        </div>
    </div>
</div>