@page
@model VaccinationWebSite.Pages.NewVaccineModel
@{
    ViewData["Title"] = "New Vaccine";
}
<div class="text-info text-center">
    <h1 class="p-5">NEW VACCINE</h1>
</div>
<div class="row justify-content-center">
    <div class="col-4">
        <form class="p-3" method="post">
            
            <input asp-for="Register.ID_Person" class="form-control" value="@ViewData["ID"]" hidden>
            <div class="form-row">
                <div class="form-group">
                    <label class="m-3" asp-for="Register.ID_Vaccine">VACCINE NAME:</label>
                    <select class="form-control" asp-for="Register.ID_Vaccine">
                    @foreach(var obj in Model.Vaccines)
                    {
                        <option value="@obj.ID">@obj.Name</option>
                    }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="m-3" asp-for="Register.VaccineDate">DATE:</label>
                <input type="date" asp-for="Register.VaccineDate" class="form-control">
            </div>
            <div class="row justify-content-center">
                <button type="submit" style="width:150px;" class="btn btn-primary m-3">ADD</button>
            </div>
        </form>
    </div>
</div>
