@page
@model VaccinationWebSite.Pages.notifyModel
@{
    ViewData["Title"] = "Notify";
    string vaccine = "";
}
<div class="text-info text-center">
    <h1 class="p-5">NEW VACCINE</h1>
</div>
<div class="row justify-content-center">
    <table class="table" align="center">
        <thead align="center">
            <tr>
                <th>
                    Vaccine
                </th>
                <th>
                    Date
                </th>
            </tr>
        </thead>
        <tbody align="center">
            @foreach (var obj in Model.Registers)
            {
                <tr>
                    <td>
                        @switch (obj.ID_Vaccine)
                        {
                            case 1:
                                vaccine = "AstraZeneca";
                                break;
                            case 2:
                                vaccine = "Pfizer";
                                break;
                            case 3:
                                vaccine = "Moderna";
                                break;
                            case 4:
                                vaccine = "SputnikV";
                                break;
                            case 5:
                                vaccine = "Sinopharm";
                                break;
                            default:
                                vaccine = "Jannsen";
                                break;
                        } @vaccine
                    </td>
                    <td>
                        @obj.VaccineDate
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="col-4">
        <form class="p-3" method="post">
            <input asp-for="Register.ID_Person" class="form-control" value="@ViewData["ID"]" hidden>
            <div class="row justify-content-center">
                <button type="submit" style="width:150px;" class="btn btn-success m-3">Notify</button>
            </div>
        </form>
    </div>
</div>