@page
@model VaccinationWebSite.Pages.OnlineModel
@{
}
<div class="card m-5">
    <div class="row">
        <div class="col-5">
            <img src="~/images/online.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-5 mx-auto my-auto">
            <div class="align-middle">
                <div class="card-body text-center">
                    <h5 class="card-title">Online Service</h5>
                    <p class="card-text">The online service is available to anyone. For more services such as a medical bulletin with disease diagnoses, you have to subscribe to our "Guardian Angel" plan. Consultations are available to everyone.</p>
                    <a asp-page="#" class="btn btn-outline-success border-info text-black mb-2 py-3 px-4 ">Subscribe</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-5 mx-auto my-auto">
            <div class="align-middle">
                <div class="card-body text-center">
                    <h5 class="card-title">New Methods</h5>
                    <p class="card-text">As part of our continuous improvement we integrate new technologies. Being in the comfort of home and having a doctor with you is a reality. This service is available in the "Guardian Angel" subscription.</p>
                    <a asp-page="#" class="btn btn-outline-info border-info text-black mb-2 py-3 px-4 ">Subscribe</a>
                </div>
            </div>
        </div>
        <div class="col-5">
            <img src="~/images/online2.jpg" class="img-fluid rounded-start" alt="...">
        </div>
    </div>

</div>