@page
@model VaccinationWebSite.Pages.RegisterModel
@{
}
<div class="text-info text-center">
    <h1 class="p-5">REGISTER</h1>
    <form class="form" method="post">
        <div>
            <label class="m-3" for="txtCI">INTRODUCE YOUR CI</label>
            <br />
            <input name="ci" id="txtCI" type="number" required/>
            <br />
            <button class="btn btn-outline-info m-5 text-center" type="submit" style="width:80px; height:40px;">Search</button>
        </div>
    </form>
</div>