@page
@model VaccinationWebSite.Pages.RegisterModel
@{
}
<div class="text-info text-center">
    <h1 class="p-5">REGISTER</h1>
    <form class="form">
        <div >
            <label class="m-3">INTRODUCE YOUR CI</label>
            <br />
            <input />
            <br />
            <a class="btn btn-outline-info m-5 text-center" style="width:80px; height:40px;" href="/NewRegister">Search</a>
        </div>
    </form>
</div>