html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

footer div {
    text-align: center;
}

footer div ul a {
    color: #000;
    font-size: 18px;
    text-decoration: none;
}

footer div ul a:hover {
    color: #1896D3;
}